@(message: String, controller: controllers.MainController)
@getBlockname(x:Int, y:Int) = @{

}

<script>
	function handleDblClickResponse(resp,x,y,counter){
		if(resp != true){
			document.getElementById(x + " x " + y).innerHTML = counter;
		}
		else{
			alert("You Lost");
		}
	}

	function handleClickResponse(resp,x,y){
		if(resp == true){
			console.log(x + " x " + y);
			document.getElementById(x + " x " + y).innerHTML = "F";
		}
		console.log("Click-> Resp: " + resp + " x: " + x + " y: " + y)
	}

</script>

@main("Minesweeper") {
	<h1> Welcome to HTWG-Mines!!!!</h1>
	<div id="content">
	@for(cell <- 0 to 3){
		@for(c <- 0 to 3) {

			<button type="button"
			id="@c x @cell"
			onclick="handleClickResponse(@controller.handleClick(c,cell),@c,@cell)"
			ondblclick="handleDblClickResponse(@controller.handleDblClick(c,cell), @c, @cell, @controller.getCounter(c,cell))"
			class="btn btn-info" name="@c x @cell"> </button>
		}
		<br>
	}
	</div>
}
